{% extends "sacco/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<h1><b>Coming Soon!</b></h1>
	<h3><b>2NK LITTLE ANGELS SAVINGS ACCOUNT</b></h3>
	<p><b>Suitable for parents /guardians who want to build financial capital for their children.</b></p><br>
	<img src="/static/imgs/announcement.jpg"><br><br>
	<p><b>Features</b></p>
	<ul>
		<li>Account operated by parents /guardian on behalf of the child</li>
		<li>Two free banker’s cheques per year for school fees</li>
		<li>No account maintenance fee</li>
		<li>Free home bank birthday cards and annual fun day</li>
		<li>Access to affordable 2nk little angel short term advance</li>
	</ul>
{% endblock content %}