{% extends "sacco/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

	<h3><b>Awards and Recognition</b></h3>
	<p>2NK SACCO , we put our customers first. And the confidence that our customers have in us drives us to excel and to redefine boundaries.
	We continued to garner numerous prestigious awards in 2017, reflecting our growing strength and influence on the financial and transport solutions. We are proud that the market recognises the strengths of our diverse team and our ability to deliver innovative financial and transport  solutions to our customers. Here are some of our awards.</p>
	<ul>
		<li><b>Best Managed Transport Sacco in Kenya 2017</b> – Ushirika Day Celebrations</li>
		<li><b>Best Highest average saving Sacco in Transport Sacco’s 2017</b> – Ushirika Day Celebrations</li>
		<li><b>Best Training and Education services in Transport Sacco’s  2017</b>–Ushirika Day Celebrations</li>
		<li><b>Best Loaning Services in Transport Sacco’s  2017</b> -Ushirika Day Celebrations</li>
	</ul><br>
	<p><b>Recognition</b></p>
	<p><b>Best Display and Presentation in Insurance Service</b>  – 2017 Ask Show Nyeri</p>
	<p><b>Best NGO/CBO Project Stand</b>  – 2017 Ask Show Nyeri</p>

{% endblock content %}


{% block bot %}

	<img src="/static/imgs/awards1.jpeg">

{% endblock %}