{% extends "sacco/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

	<h1>Events Coming Soon!</h1><br>
	<p><h3>Members Union</h3>
	<p><b>Date And Time</b></p>
	<p><b>Sat, May 4, 2019, 6:00 PM –</b>
	<p><b>Sun, May 5, 2019 EAT</b></p>
	<p><b>Venue: Parklands Hotel, Nairobi</b></p>
	<p><b>Entry free for only registerd members</b></p>
	<p><b>Don't miss out</b></p><br>
	<p><h3>Thanks Giving</h3>
	<p><b>Date And Time</b></p>
	<p><b>Thu, April 18, 2019</b></p>
	<p><b>7:00 PM – 11:00 PM EAT</b></p>
	<p><b>Venue: Moi staduim, Nakuru</b></p>
	<p><b>Entry free</b></p>
	<p><b>Welcome all let's celebrate together</b></p>
	
{% endblock content %}