{% extends "sacco/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4"><h3><b>You have a message for us?</b></h3>
				</legend>
				<p><label><b>Name:</b></label>
				<input name="sender"></p>

				<p><label><b>Email:</b></label>
				<input name="senderEmail"></p>

				<p><label><b>Message:</b></label>
				<textarea rows="5" cols="20" name="message"></textarea></p>

				<p><input type="submit" name="submit"></p>
			</fieldset>
		</form>
	</div>

{% endblock content %}