{% extends "sacco/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<h3><b>2NK MATATU SACCO DRIVERS TRAINED AFRESH.</b></h3><br>
	<img src="/static/imgs/post.jpg"><br><br>
	<p>For a Matatu Sacco that values its customers, ensuring their safety should be the premier thing. Having a competent Drivers comes first at 2NK SACCO as safety measure. Our Sacco drivers are trained afresh in order to ensure they are up to the task. The refresher training is held in Nyeri with an objective of fighting road carnage. The Training is usually conducted in partnership with NTSA .</p>
	<p>"The Refresher courses are very important in our day to day Job and they help us on maintaining discipline on our roads. “ Mary Wanjiru a 2nk Driver.</p>
{% endblock content %}


