{% extends "sacco/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

	{% for activity_log in activity_logs %}

		<div class="media">
		    <img class="rounded-circle account-img" src="{{user.profile.image.url}}">
		    <div class="media-body">
		      <h2 class="account-heading">{{ user.username }}</h2>
		      <p class="text-secondary">{{ user.email }}</p>
		    </div>
		 </div>

		<div class="content-section">
		  <form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4"><h3><b>Activities Info</b></h3></legend>
					<p><b>Matatu name:</b> {{ activity_log.matatu_id }} </p>
					<p><b>Date and Time of Record:</b> {{ activity_log.Date_Time_of_record }}</p>
					<p><b>Activity type:</b> {{ activity_log.Activity_log_type}}</p>
					<p><b>Activity details:</b> {{ activity_log.Activity_log_details}}</p>
					<p><b>Number of trips made til now:</b> {{ activity_log.number_of_trips_made_until_now}}</p>
					<p><b>Place the Activity happened:</b> {{ activity_log.Place_the_Activity_happened}}</p>
					<p><b>Date/Time the Activity took place:</b> {{ activity_log.Date_and_Time_the_Activity_took_place}}</p>
					<p><b>Where maintanance happened:</b> {{ activity_log.Where_maintanance_happened}}</p>
					<p><b>Date/Time maintanance happened:</b> {{ activity_log.Date_Time_maintanance_happened}}</p>
					<p><b>Who did Maintanance:</b> {{ activity_log.Who_did_Maintanance}}</p>
					<p><b>Contacts of who did the Maintanace</b> {{ activity_log.contacts_of_who_did_the_repair}}</p>
					<p><b>image before maintanance:</b><p><b>image after maintanance:</b> <img src="{{ activity_log.image_before_maintanance.url }}" class="img-rounded" width="300" height="230"></p> 
					<p><b>image after maintanance:</b> <img src="{{ activity_log.image_after_maintanance.url }}" class="img-rounded" width="300" height="230"></p>
					<p><b>Amount:</b> {{ activity_log.amount}}</p>
					<p><b>Reciept:</b><img src="{{ activity_log.reciept.url }}" class="img-rounded" width="300" height="230"></p>
				</fieldset>
			</form> 
		</div>

	{% endfor %}

{% endblock content %}